.card {
  .H2 {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;
  },
  H3 {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;
  },
  H4 {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;

  },
  H5 {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;
  },
  H6 {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;
  }
  H7 {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;

  }
  H8 {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;

  }
  H9 {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;

  }
  H10 {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;

  }
  HJ {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;

  }
  HQ {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;

  }
  HK {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;

  }
  HA {
    background: #b5afa7 url(/img/cards-png-240px/H2.png) no-repeat 23px 30px;
    background-size: 240px;
  }
}
